@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "VT323", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#saat {
    font-size: 12vw;
}